---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import Link from "../../components/Link.astro";
import "../../styles/global.css";
const pageTitle = "Salary-o-meter";
const pageDescription =
	"This page indicates how high your salary is compared to the rest of Colombia";
---

<Layout pageTitle={pageTitle} pageDescription={pageDescription}>
	<div id="content">
		<div>
			<p>
				{pageDescription}
			</p>
			<p>
				Based on the
				<Link
					link="https://microdatos.dane.gov.co/index.php/catalog/819/study-description"
					text="Great Integrated Household Survey"
				/>. Updated on October 2024 with data from August 2024.
			</p>
			<p>
				<Link
					link="https://github.com/isthistechsupport/geih_fn"
					text="Source code of this page"
				/>.
			</p>
			<p>
				<Link
					link="https://github.com/isthistechsupport/geih"
					text="Source code of the underlying analysis"
				/>.
			</p>
			<p>
				If you don't live in Colombia, and don't have any department of interest, pick Bogotá, D.C. as your department and Urban as your zone.
			</p>
		</div>
		<form id="income-form">
			<div class="input-group">
				<label for="income" class="input-label">Salary</label>
				<input
					type="text"
					id="income"
					name="income"
					placeholder="Enter your salary in COP"
				/>
			</div>
			<div class="input-group">
				<label for="department" class="input-label">Department</label>
				<select id="department" name="department">
					<option value="">Select your department</option>
					<option value="05">Antioquia</option>
					<option value="08">Atlántico</option>
					<option value="11">Bogotá, D.C.</option>
					<option value="13">Bolívar</option>
					<option value="15">Boyacá</option>
					<option value="17">Caldas</option>
					<option value="18">Caquetá</option>
					<option value="19">Cauca</option>
					<option value="20">Cesar</option>
					<option value="23">Córdoba</option>
					<option value="25">Cundinamarca</option>
					<option value="27">Chocó</option>
					<option value="41">Huila</option>
					<option value="44">La Guajira</option>
					<option value="47">Magdalena</option>
					<option value="50">Meta</option>
					<option value="52">Nariño</option>
					<option value="54">Norte de Santander</option>
					<option value="63">Quindío</option>
					<option value="66">Risaralda</option>
					<option value="68">Santander</option>
					<option value="70">Sucre</option>
					<option value="73">Tolima</option>
					<option value="76">Valle del Cauca</option>
					<option value="81">Arauca</option>
					<option value="85">Casanare</option>
					<option value="86">Putumayo</option>
					<option value="88"
						>Archipelago of San Andrés, Providencia and Santa
						Catalina</option
					>
					<option value="91">Amazonas</option>
					<option value="94">Guainía</option>
					<option value="95">Guaviare</option>
					<option value="97">Vaupés</option>
					<option value="99">Vichada</option>
				</select>
			</div>
			<div class="input-group">
				<label for="zone" class="input-label">Zone</label>
				<select id="zone" name="zone">
					<option value="">Select your zone</option>
					<option value="1">Urban</option>
					<option value="2">Rural</option>
				</select>
			</div>
			<button type="submit" class="button">Calculate</button>
			<div id="loading-icon" class="hidden">
				<div class="spinner"></div>
			</div>
		</form>
		<div id="result-container"></div>
	</div>
	<Footer>
		Source: National Administrative Department of Statistics:
		<Link link="https://www.dane.gov.co" text="www.dane.gov.co" />. Website
		designed and developed by
		<Link link="https://drivero.com.co" text="Diego Rivero" />. Dark mode button and icons taken and adapted from this
		<Link link="https://codepen.io/alireza82/pen/poRqBOq" text="pen" />
		by Alireza Mohammadi.
		<Link
			link="https://www.iconarchive.com/show/free-simple-line-icons-by-justicon/Development-Interface-Computer-Photo-Gear-Browser-icon.html"
			text="Favicon"
		/>
		by
		<Link link="https://www.behance.net/justicon" text="Just Icon" />
		under the license
		<Link
			link="https://creativecommons.org/licenses/by/3.0/"
			text="CC BY 3.0"
		/>.
	</Footer>
</Layout>
